@model Frontend.Models.Apartment

@{
    ViewBag.Title = "Apartment Details";
}

<div class="container">
    <h1 class="text-center my-5">Apartment Details</h1>
    <div class="card">
        <div class="card-body">
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <h4>Name:</h4>
                </div>
                <div class="col-md-8">
                    <p>@Html.DisplayFor(model => model.Name)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>Bedrooms:</h4>
                </div>
                <div class="col-md-8">
                    <p>@Html.DisplayFor(model => model.Bedrooms)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>Bathrooms:</h4>
                </div>
                <div class="col-md-8">
                    <p>@Html.DisplayFor(model => model.Bathrooms)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>Maximum Sleeping Capacity:</h4>
                </div>
                <div class="col-md-8">
                    <p>@Html.DisplayFor(model => model.CanSleepMax)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>From:</h4>
                </div>
                <div class="col-md-8">
                    <p>@Html.DisplayFor(model => model.From_ShortDate)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>To:</h4>
                </div>
                <div class="col-md-8">
                    <p>@Html.DisplayFor(model => model.To_ShortDate)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center my-3">
        <a href="@Url.Action("Index", "Apartment")" class="button">Back to List</a>
    </div>
</div>